{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    {% include 'inc/nav.html.twig' %}
    {% for produit in produits %}
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{ asset('img/cards/' ~ produit.image) }}" alt="{{ produit.name }}">
        <div class="card-body">
            <h5 class="card-title">{{ produit.name }}</h5>
            <p class="card-text">{{ produit.description }}</p>
            <p class="card-text">{{ produit.price }} €</p>
            <a href="#" class="btn btn-primary">Ajouter au panier</a>
        </div>
    </div>
    {% endfor %}
{% endblock %}

