{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    {% include 'inc/nav.html.twig' %}
        <form class="form-inline" method="get" action="{{ path('product_search') }}">
            <div class="d-flex w-50 mx-auto mt-3">
                <input class="form-control mr-sm-2" type="search" name="q" placeholder="Rechercher des produits" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0 " type="submit">Rechercher</button>
            </div>
        </form>

    <div class="titleh1">
        <h1>DERNIERS MANGAS EN DATE</h1>
    </div>
    <div class="card-body_second">
    {% for produit in pagination %}
        <a href="{{ path('cart_add', {'id': produit.id}) }}" class="card_a" >
            <div class="card m-2 card_main_1">
                <img class="card-img-top" style="height: 320px;" src="{{ asset('css/img/manga/' ~ produit.image) }}" alt="{{ produit.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ produit.name }}</h5>
                    <p class="card-text">{{ produit.description }}</p>
                    <p class="card-text card_price">{{ produit.price | number_format(2, '.', ',') }} €</p>
                    <a href="{{ path('cart_add', {'id': produit.id}) }}" class="btn btn-primary position-absolute bottom-0 end-0 custom-card-icon-buy"><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
            </div>
        </a>
    {% endfor %}
    </div>
    <div class="pagination d-flex justify-content-center">
        {{ knp_pagination_render(
            pagination,
            '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig',
            {
                'queryParam1': 'param1 value',
                'queryParam2': 'param2 value'
            },
            {
                'viewParam1': 'param1 value',
                'viewParam2': 'param2 value'
            },
        ) }}
    </div>
{% endblock %}

