{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    {% include 'inc/nav.html.twig' %}
    <div style="display: flex;flex-direction: row">
        {% for product in products %}
            <div class="card" style="width: 14rem;">
                <img class="card-img-top" src="{{ asset('css/img/manga/' ~ product.image) }}" alt="{{ product.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    <p class="card-text">{{ product.price }} €</p>
                    <a href="#" class="btn btn-primary">Ajouter au panier</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

