{% extends 'base.html.twig' %}
{% block title %}Mystère{% endblock %}
{% block body %}
    {% include 'inc/nav.html.twig' %}
    <div class="titleh1">
        <h1>Mystère</h1>
    </div>
    <div class="card-body_second">
        {% for product in products %}
            <a href="{{ path('cart_add', {'id': product.id}) }}" class="card_a" >
                <div class="card m-2 card_main_1">
                    <img class="card-img-top" style="height: 320px;" src="{{ asset('css/img/manga/' ~ product.image) }}" alt="{{ product.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description }}</p>
                        <p class="card-text card_price">{{ product.price | number_format(2, '.', ',') }} €</p>
                        <a href="{{ path('cart_add', {'id': product.id}) }}" class="btn btn-primary position-absolute bottom-0 end-0 custom-card-icon-buy"><i class="fa-solid fa-cart-shopping"></i></a>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}

