{% extends 'base.html.twig' %}

{% block title %}
    Admnistration
{% endblock %}

{% block body %}
    {% include 'inc/nav.html.twig' %}

    <div class="container">
        <div class="row">
            {% include "inc/adminnav.html.twig" %}
            <main class="col-9 border border-light bg-white p-2">
                <h1>Administration</h1>
                {{ form_start(productForm) }}
                {{ form_row(productForm.name) }}
                {{ form_row(productForm.description) }}
                {{ form_row(productForm.stock) }}
                {{ form_row(productForm.price) }}
                {{ form_row(productForm.genre) }}
                {{ form_row(productForm.image) }}
                {% if productForm.vars.value.image is not null %}
                    <img src="{{ asset('css/img/manga/' ~ productForm.vars.value.image) }}" alt="Image du produit" class="img-thumbnail" style="max-width: 200px;"/>
                {% endif %}
                <div class="my-3">
                    <button type="submit" class="btn btn-primary">Envoyé</button>
                </div>
                {{ form_end(productForm) }}
            </main>
        </div>
    </div>

{% endblock %}


