{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
{% include 'inc/nav.html.twig' %}
    <h1 class="text-center">Résultats de la recherche</h1>

    {% if produits is empty %}
        <p class="text-center">Aucun produit trouvé.</p>
    {% else %}
        <div class="card-body_second">
            {% for produit in produits %}
                <a href="{{ path('cart_add', {'id': produit.id}) }}" class="card_a" >
                    <div class="card m-2 card_main_1">
                        <img class="card-img-top" style="height: 320px;" src="{{ asset('css/img/manga/' ~ produit.image) }}" alt="{{ produit.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ produit.name }}</h5>
                            <p class="card-text">{{ produit.description }}</p>
                            <p class="card-text card_price">{{ produit.price | number_format(2, '.', ',') }} €</p>
                            <a href="{{ path('cart_add', {'id': produit.id}) }}" class="btn btn-primary position-absolute bottom-0 end-0 custom-card-icon-buy"><i class="fa-solid fa-cart-shopping"></i></a>
                        </div>
                    </div>
                </a>
            {% endfor %}
    {% endif %}
{% endblock %}




